/* Grant Haataja - Assignment II */
body {
	background-image: url("7.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-origin: content-box;
	margin-bottom: auto;
	margin-top: auto;
	tab-size: 4;
	word-spacing: 0.15em;
}

h1 {
	background-color: white;
	color: darkgreen;
	letter-spacing: 2px;
	opacity: 0.8;
}

h2 {
	background-color: white;
	color: blue;
	opacity: 0.8;
	outline: 2px;
	outline-color: blue;
	outline-style: dotted;
}

h3 {
	text-align: center;
}

p {
	font-size: 12pt;
	text-align: left;
	max-height: 150px;
	max-width: 5000px;
}

input {
	caret-color: red;
}

/*define paragraph id 1 */
#para1 {
	font-size: 14pt;
	color: black;
	position: sticky;
}

#para2 {
	font-size: 14pt;
	color: purple;
}

div {
	background-color: lightblue;
	align-content: left;
	align-items: center;
	height: 150px;
	line-height: 110%;
	opacity: 0.8;
	width: 1250px;
	transition-property: width;
	transition-duration: 2s;
	transition-delay: 0.1s;
}

div:hover {
	width: 100%;
}

mark {
	background-color: red;
	color: black;
}

strong {
	font-weight: bold;
	font-style: italic;
}
