h1 {
	color: pink;
	text-align: center;
}

body {
	background-color: green;
}

p {
	text-align: center;
}

.p1 {
	text-align: center;
	font-family: monospace;
}

a:link {
	color: blue;
	font-family: "Comic Sans MS";
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 3px;
	padding-left: 8px;
	display: inline-block;
}

a:visited {
	color: purple;
}

a:hover {
	color: hotpink;
}

 a:active {
	 background-color: red;
 }

table {
	margin-left:auto;
	margin-right:auto;
	border-spacing: 30px;
	border-width: 1px;
	border-color: black;
	float: none;
	align-self: center;
}

td {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

var {
  font-style: italic;
  color: navy;
}